<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="snagThis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <snagThis.Properties.Settings>
            <setting name="PrimaryColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorMode" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="DefaultSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CaptureMode" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoFocus" serializeAs="String">
                <value>False</value>
            </setting>
        </snagThis.Properties.Settings>
    </userSettings>
</configuration>